<% provide(:title, 'About Us') %>

<div class="container">

	<div class="row">

	 <div class="col-md-8">

	<h3>About Us</h3>
	<hr>

	<h4>1. What is Note Academy?</h4>

	<p>Note Academy is a collaborative, web-based learning reference that anyone can edit and use. We're on a mission to crowdsource curriculums and learning resources for every single subject in the world.
	<br><br>Imagine being always able to find the best resources - whether it's books, online lectures, articles - for any given subject. Or, getting introduced to the subject by domain experts with whom you can interact - ask them questions, or even book personal tutoring. This is what we are aiming at.
	</p>
	<hr>
	<h4>2. What are Notes?</h4>

	<p>A <b>Note</b> is is a brief instruction on learning some topic. Note Academy members are encouraged to publish Notes on the topics they have domain expertise - thus we are collecting and organizing the dispersed, specialized information from each user into a useful and diverse database.</p>
	<hr>
	<h4>3. How are all the Notes organized?</h4>

	<p>Every Note belongs to a <b>Page</b> - each Page representing a single topic. All of the Pages form an interconnected graph, or a network, like this:</p>

	<%= image_tag("acyclic_digraph.svg") %>
	<hr>
	<h4>4. What is the criteria for a Page?</h4>

	<p>A Page is anything that reasonably could be a topic for a university course or a lecture. It can be an undergraduate course, Business School, Law School, Medical School, Arts and Design Graduate program, Phd seminar - the main thing is that it should be something that could be taught at a university level.</p>
	<hr>
	<h4>5. All of this sounds very cool. Where can I sign up?</h4>

	<span class="glyphicon icon-user"></span> <%= link_to "Here", new_user_path %>

	 </div>
	</div>
</div>