<% provide(:title, 'Welcome') %>

<div class="container-full" style="background: url('assets/athens-large.jpg');background-size:100%;background-repeat:no-repeat;background-position:center;height:600px;">

    <!-- Image Slider -->
    <section class="wrapper-lg bg-slider">
       <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-8 col-lg-offset-2">
            <br class="spacer-dxl">
            <div class="form-group carousel-title">
              <label> What would you like to learn today? Try Computational Neuroscience, Bitcoin or Cultural Anthropology</label>
              <input id="search" class="form-control" type="text" placeholder="Search Topics"></input></div>
          </div>
        </div>
      </div> 
    </section>

</div> 

    <!-- Call To Action -->
    <section class="wrapper-sm bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>Community marketplace for faster and better learning</h3>
            <h4>Note Academy is a crowdsourced index of educational media and free expert learning advice organised by topic</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper-md">
      <div class="container">
        <div class="row">
          <!--<div class="col-sm-6 col-md-3">
            <h3><i class="icon icon-globe"></i> Notes</h3>
            <br class="spacer-md">
          </div> -->
          <div class="col-sm-6 col-md-4">
            <h3><i class="icon icon-book"></i> Meta-resource</h3>
            <p>We aggregate and crowd-source information and sentiment about all the books, MOOCs, websites and educational games related to a single subject</p>
            <br class="spacer-md">
          </div>
          <div class="col-sm-6 col-md-4">
            <h3><i class="icon icon-globe"></i> Learning Community</h3>
            <p>Users contribute 'Notes': advice, learning paths and curricula. Like all content, it is curated socially via upvotes</p>
            <br class="spacer-md">
          </div>
           <div class="col-sm-6 col-md-4">
            <h3><i class="icon icon-user"></i> Teaching Marketplace</h3>
            <p>Users can teach 1-on-1 and small-group sessions through our real-time video platform; they signal their quality with real-world credentials and their contributions. We handle booking, payments and escrow</p>
            <br class="spacer-md">
          </div>
        </div>
      </div>
    </section>

    <section class="wrapper-lg bg-alt">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>Distributed on-demand education tailored to every student</h3>
            <br><br>
            
            <a href="/users/new" class="btn btn-lg btn-primary">Create free account &raquo;</a>
          </div>
        </div>
      </div>
    </section>

    <!--testimonials-->
    <section class="wrapper-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-4">
                <div class="panel panel-default" >
                  <!-- Default panel contents -->
                 <div class="panel-heading">Trending topics</div>
                <div class="panel-body">
                   <p>These are some of the most active topics at the moment, and have the greates amount of activity in the past day</p>
                </div>
          
                 <!-- List group -->
               <ul class="list-group">
                   <li class="list-group-item"><a href="#">English</a></li>
                   <li class="list-group-item"><a href="/pages/computer-science">Computer Science</a></li>
                   <li class="list-group-item"><a href="/pages/venture-capital">Venture Capital</a></li>
                   <li class="list-group-item"><a href="/pages/data-science">Data Science</a></li>
                   <li class="list-group-item"><a href="#">Linear Algebra</a></li>
               </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default" >
                  <!-- Default panel contents -->
                 <div class="panel-heading">Most popular topics</div>
                <div class="panel-body">
                   <p>These are the most actively searched for topics on Note Academy</p>
                </div>
          
                 <!-- List group -->
               <ul class="list-group">
                   <li class="list-group-item"><a href="#">English</a></li>
                   <li class="list-group-item"><a href="#">Computer Science</a></li>
                   <li class="list-group-item"><a href="#">Metaethics</a></li>
                   <li class="list-group-item"><a href="#">Javascript</a></li>
                   <li class="list-group-item"><a href="#">Linear Algebra</a></li>
               </ul>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="well">
                  <h3>Meet some of our mentors:</h3>
                  <br class="spacer-sm"
                  <ul class="media-list">
                  <li class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object avatar" src="https://s3-eu-west-1.amazonaws.com/noteacademy/avatars/1/thumb/profilepic.png?1384283812">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Jari Kuikanmäki</a></h4>
                      <p>Jari Kuikanmäki, 27, is an alumni of the London School of Economics and Start-Up Chile program and has previously worked at Suomi24.fi, Finland's largest online community.</p>
                    </div><!-- /.media-body -->
                  </li>
                  <li class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object avatar" src="https://s3-eu-west-1.amazonaws.com/noteacademy/avatars/3/thumb/Tallinn-Daniel-2-box.jpg?1384291055">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">Daniel Jyllikoski</a></h4>
                      <p>Daniel Jyllikoski, 24, has worked for Bloomberg Ventures in London where he expanded an educational startup to several new EMEA countries, held a board seat at a leading private tutoring company in Finland and is currently pioneering MOOCs and eLearning as chief teacher of social science computing @ University of Helsinki.</p>
                    </div>
                  </li>
                </ul>
                </div>
              </div><!--/.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>