<div class="container">
	<div class="row">
	  <div class="col-md-12">

	  <h3>New Note - <%= @page.name %></h3>

	  <% if current_user.present? %>
	    <%= render 'form' %>
	  <% else %>
	    <p>You have to be signed in to write notes.</p><br><br>  
	    <%= link_to "Sign in", signin_path %>
	  <% end %>

	  </div>
	</div>
</div>